* {
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "Press Start 2P";
    src:url("font/PressStart2P-Regular.ttf") format("truetype");
}
body {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-family: "press start 2P";
}
  article {
    width: 424px;
    height: 416px;
    display: flex;
    flex-wrap: wrap;
    border: inset 10px;
  }

  span {
      width: 51px;
      height: 50px;
      background-color: #cbcbcb;
      border: 1px dashed black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
  }
  .blue {
      color: blue;
  }
  .green {
      color:green
  }
  .red {
      color: red;
  }
  img {
      width: 30px;
      height: 30px;
  }
  .box {
      border: outset 2px;
      width: 49px;
      height: 48px;
  }
  div {
      width: 49px;
      height: 48px;
      border: outset 2px;
      opacity: 0;
      background-color: #cbcbcb;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  div:hover{
      opacity: 1;
      background-color: #cbcbcb;
      border: inset 2px;
  }
 
 
 